# General
*.log
*.pdf
*.png
Info.md 

# IDE
.idea/
.vscode/

# Python
*.pyc
*/__pycache__/

# Virtualenv
venv/

# Databases
*.sqlite3

# Migrations
migrations/

# Javascript
node_modules/
build

# Environment Variables
.env 
.env.dev
.env.prod

# Assets
static/
media/
assets/
scripts/