{% load static %}
<!-- ##### Footer Area Start ##### -->
<footer id="main-footer" class="footer-area">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <div class="footer-branding">
                                  <a href="{% url 'home' %}">
                                      <img src="{% static 'img/logo/logo.png'%}" class="logo" alt="RostockerLabs">
                                  </a>
                            </div>
                        </div>
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="footer-social-info">
                            <a href="https://twitter.com/raselrostock" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook" target="_blank"></i></a>
                            <a href="#"><i class="fab fa-linkedin" target="_blank"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Usefull Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'courses:courselist' %}">Courses</a></li>
                                <li><a href="{% url 'instructors:instructor-list' %}">Instructors</a></li>
                                <li><a href="{% url 'pages:faqs' %}">FAQ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Gallery</h6>
                        </div>
                        <div class="gallery-list d-flex justify-content-between flex-wrap">
                            <a href="{% static 'img/bg-img/gallery1.jpg' %}" class="gallery-img" title="Gallery Image 1"><img src="{% static 'img/bg-img/gallery1.jpg' %}" alt=""></a>
                            <a href="{% static 'img/bg-img/gallery2.jpg' %}" class="gallery-img" title="Gallery Image 2"><img src="{% static 'img/bg-img/gallery2.jpg' %}" alt=""></a>
                            <a href="{% static 'img/bg-img/gallery3.jpg' %}" class="gallery-img" title="Gallery Image 3"><img src="{% static 'img/bg-img/gallery3.jpg' %}" alt=""></a>
                            <a href="{% static 'img/bg-img/gallery4.jpg' %}" class="gallery-img" title="Gallery Image 4"><img src="{% static 'img/bg-img/gallery4.jpg' %}" alt=""></a>
                            <a href="{% static 'img/bg-img/gallery5.jpg' %}" class="gallery-img" title="Gallery Image 5"><img src="{% static 'img/bg-img/gallery5.jpg' %}" alt=""></a>
                            <a href="{% static 'img/bg-img/gallery6.jpg' %}" class="gallery-img" title="Gallery Image 6"><img src="{% static 'img/bg-img/gallery6.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contact</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>2640/A, CDA, Agrabad, Chittagong.</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="fas fa-phone"></i>
                            <p>Main: 0176-3012-799 <br>Office: 203-808-8648</p>
                        </div>
                        <div class="single-contact d-flex">
                            <i class="fas fa-envelope"></i>
                            <a href = "mailto:raselrostock@gmail.com">raselrostock@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved by <a href="www.rostockerlabs.com">RostockerLabs</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->