{% load static %}
<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
{% comment %} <script src="{% static 'js/plug.js' %} "></script> {% endcomment %}
<script src="{% static 'js/plugins.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
{% comment %} <script src="{% static 'js/nunu.js' %} "></script> {% endcomment %}
<script src="{% static 'js/search_auto.js' %} "></script>
{% comment %} <script src="{% static 'js/quiz.js' %} "></script> {% endcomment %}
{% comment %} <script src="{% static 'js/instructor.js' %} "></script> {% endcomment %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>