{% extends "base/base.html" %}
{% block title %} | Login {% endblock %}

{% block content %}
<div class="content-wrapper">
  <section id="login" class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-rlds-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Password Reset</h4>
            </div>
            <div class="card-body">
              <!--Alert-->
              {% include "partials/_alerts.html" %}
                <div class="form-group">
                  <h2 class="alert__muted-text text-center">Your password has been set.</h2>
                </div>
                <div class="form-group">
                   <small class="text-muted alert__muted-sm">
                        Login again <a href="{% url 'accounts:login' %}" class="ml-2">Log In</a>
                    </small>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}